flows.json
[{"id":"9b29b8adb87d8897","type":"server-events","z":"3a651999c0cd479f","name":"All Mobile App Notification Actions","server":"8b49822a.271c3","version":3,"exposeAsEntityConfig":"","eventType":"mobile_app_notification_action","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(“eventData”).event_type","valueType":"jsonata"}],"x":240,"y":1140,"wires":[["53a490e5d6663c5b","f8d958df52adaef7"]]},{"id":"53a490e5d6663c5b","type":"switch","z":"3a651999c0cd479f","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"PAUSE_PRINTER","vt":"str"},{"t":"eq","v":"IGNORE_ERROR","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1140,"wires":[["672434ebcffdeb8e"],[]]},{"id":"672434ebcffdeb8e","type":"api-call-service","z":"3a651999c0cd479f","name":"","server":"8b49822a.271c3","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":["basement"],"deviceId":["70d6082757946488763f384a47dde2cd"],"entityId":["button.jake_p1s_pause_printing"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":1080,"wires":[["3dd5cf99889c2995"]]},{"id":"3dd5cf99889c2995","type":"api-call-service","z":"3a651999c0cd479f","name":"","server":"8b49822a.271c3","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{    \"message\": \"Printer has been paused.\",    \"title\": \"Printer Status\",}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":1220,"wires":[[]]},{"id":"f8d958df52adaef7","type":"debug","z":"3a651999c0cd479f","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1200,"wires":[]},{"id":"213b7babd92b0457","type":"server-state-changed","z":"3a651999c0cd479f","name":"Trigger Printer Monitor Notification","server":"8b49822a.271c3","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":["sensor.finn_p1s_print_quality","sensor.b_mo_p1s_print_quality","sensor.bonnie_p1s_print_quality","sensor.jake_p1s_print_quality"],"entityIdType":"list","outputInitially":true,"stateType":"num","ifState":"5","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":240,"y":860,"wires":[["99223ce8f4fdd9a1"],[]]},{"id":"b81824ae27de754f","type":"function","z":"3a651999c0cd479f","name":"Iterate and Make Entity Names","func":"for (var i = 0; i < msg.payload.length; i++) {\n var newMsg = {};\n newMsg.camera = \"image.\"+msg.payload[i]+\"_camera\";\n newMsg.stage = \"sensor.\" + msg.payload[i] + \"_current_stage\";\n newMsg.entity_id = msg.payload[i];\n node.send(newMsg);\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":260,"wires":[["5246fb15931f8193"]]},{"id":"46984702a76531f9","type":"api-call-service","z":"3a651999c0cd479f","name":"","server":"8b49822a.271c3","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{message}}\",\"title\":\"Printer Status\",\"data\":{\"actions\":[{\"action\":\"PAUSE_PRINTER\",\"title\":\"Pause\"},{\"action\":\"IGNORE_ERROR\",\"title\":\"Ignore\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":920,"wires":[[]]},{"id":"c4911d1092e8ade2","type":"inject","z":"3a651999c0cd479f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["368270b64a6cacc4"]]},{"id":"368270b64a6cacc4","type":"debug","z":"3a651999c0cd479f","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":220,"y":420,"wires":[]},{"id":"571dec91bb0fc8e9","type":"comment","z":"3a651999c0cd479f","name":"Not Yet working. Needs to Action on specific printer.","info":"","x":210,"y":920,"wires":[]},{"id":"c3dfb53ccd9f4a5b","type":"comment","z":"3a651999c0cd479f","name":"Not Yet working. Needs to Action on specific printer.","info":"","x":210,"y":1200,"wires":[]},{"id":"708901e4b582913e","type":"group","z":"3a651999c0cd479f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e04e253161c0f8dd","81d8c64eb70e707d"],"x":74,"y":99,"w":272,"h":122},{"id":"e04e253161c0f8dd","type":"inject","z":"3a651999c0cd479f","g":"708901e4b582913e","name":"Trigger Jake","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"jake_p1s\"]","payloadType":"jsonata","x":135,"y":180,"wires":[["b81824ae27de754f"]],"l":false},{"id":"81d8c64eb70e707d","type":"inject","z":"3a651999c0cd479f","g":"708901e4b582913e","name":"Printer Cameras List","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[\t    \"finn_p1s\",\t    \"jake_p1s\",\t    \"b_mo_p1s\",\t    \"bonnie_p1s\"\t]","payloadType":"jsonata","x":220,"y":140,"wires":[["b81824ae27de754f"]]},{"id":"c874d4d352cf2b49","type":"group","z":"3a651999c0cd479f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["da18da7d2804da7d","0df55df8b8ac1fcc","32059da5b006836d","5246fb15931f8193"],"x":434,"y":99,"w":272,"h":262},{"id":"da18da7d2804da7d","type":"ha-get-entities","z":"3a651999c0cd479f","g":"c874d4d352cf2b49","name":"Get Entity","server":"8b49822a.271c3","version":1,"rules":[{"property":"entity_id","logic":"includes","value":"camera","valueType":"msg"},{"property":"state","logic":"is_not","value":"open","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":520,"y":260,"wires":[["32059da5b006836d"]]},{"id":"0df55df8b8ac1fcc","type":"debug","z":"3a651999c0cd479f","g":"c874d4d352cf2b49","name":"Announce Printer(s)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.attributes.friendly_name","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":200,"wires":[]},{"id":"32059da5b006836d","type":"change","z":"3a651999c0cd479f","g":"c874d4d352cf2b49","name":"","rules":[{"t":"set","p":"friendly_name","pt":"msg","to":"payload.attributes.friendly_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["8fc7e280c6b08752"]]},{"id":"5246fb15931f8193","type":"ha-get-entities","z":"3a651999c0cd479f","g":"c874d4d352cf2b49","name":"Get Only Printing Printers","server":"8b49822a.271c3","version":1,"rules":[{"property":"entity_id","logic":"includes","value":"stage","valueType":"msg"},{"property":"state","logic":"is","value":"printing","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":570,"y":140,"wires":[["0df55df8b8ac1fcc","da18da7d2804da7d"]]},{"id":"4cb9d104a55c260e","type":"group","z":"3a651999c0cd479f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["40ec9b0e2f2d8a21","43d9ac5e804f706c","08c629d1fa770ae8","015a1036791def59","8fc7e280c6b08752","9acc55a3802419b1"],"x":854,"y":99,"w":452,"h":322},{"id":"40ec9b0e2f2d8a21","type":"buffer-to-png","z":"3a651999c0cd479f","g":"4cb9d104a55c260e","name":"Buffer to png","x":950,"y":320,"wires":[["43d9ac5e804f706c"]]},{"id":"43d9ac5e804f706c","type":"jimp-image","z":"3a651999c0cd479f","g":"4cb9d104a55c260e","name":"Load image","data":"payload.png","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"","parameter2":"","parameter2Type":"","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":950,"y":380,"wires":[["d2f9e3156d6db951"]]},{"id":"08c629d1fa770ae8","type":"image viewer","z":"3a651999c0cd479f","g":"4cb9d104a55c260e","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":1210,"y":260,"wires":[["40ec9b0e2f2d8a21"]]},{"id":"015a1036791def59","type":"jimp-image","z":"3a651999c0cd479f","g":"4cb9d104a55c260e","name":"Load image","data":"payload","dataType":"msg","ret":"buf","parameter1":"","parameter1Type":"","parameter2":"","parameter2Type":"","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"buffer","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":950,"y":260,"wires":[["08c629d1fa770ae8"]]},{"id":"8fc7e280c6b08752","type":"function","z":"3a651999c0cd479f","g":"4cb9d104a55c260e","name":"Form image URL","func":"msg.payload = \"http://homeassistant:8123\"+msg.payload.attributes.entity_picture;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":140,"wires":[["015a1036791def59","9acc55a3802419b1"]]},{"id":"9acc55a3802419b1","type":"debug","z":"3a651999c0cd479f","g":"4cb9d104a55c260e","name":"Check Image URL","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"c63b80626efe0b0f","type":"group","z":"3a651999c0cd479f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5e6bc0a646d19d1a","9ab23f8e191e3dcd","d2f9e3156d6db951","66a62b15037a762b"],"x":74,"y":499,"w":272,"h":262},{"id":"5e6bc0a646d19d1a","type":"simple-gpt-vision","z":"3a651999c0cd479f","g":"c63b80626efe0b0f","name":"","prompt":"prompt","promptType":"msg","Token":"","x":190,"y":660,"wires":[["dc7594fb2bb261b2","9ab23f8e191e3dcd"]]},{"id":"9ab23f8e191e3dcd","type":"debug","z":"3a651999c0cd479f","g":"c63b80626efe0b0f","name":"Check GPT Output","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":190,"y":720,"wires":[]},{"id":"d2f9e3156d6db951","type":"function","z":"3a651999c0cd479f","g":"c63b80626efe0b0f","name":"Remove Base64 header","func":"msg.payload = msg.payload.replace(\"data:image/jpeg;base64,\", \"\");\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":540,"wires":[["66a62b15037a762b"]]},{"id":"66a62b15037a762b","type":"function","z":"3a651999c0cd479f","g":"c63b80626efe0b0f","name":"Prompt","func":"msg.prompt = `Respond in English.\nYou are monitoring the quality of a 3D print job that is in progress by assessing the still image.\nIn about a sentence, please describe the status of the 3D print job so far (Is the bed clear (look carefully, the material could be Black)? Is there any stringing? Any warping or curling? Are layers even? Is there any debris on the bed? Does anything else stand out that could affect the print output?).\nAt the end of your response, include a single digit number rating based on your previous description from 1 to 10.\n1 indicating complete failure and possible hardware damage, 10 indicating no print issues and exceptional print quality. If there are any issues that need attention, use 5 or lower as that triggers a notification to my phone). If the print bed looks empty, then rating should be 10 because there are no issues.`\nmsg.prompt = \"Printer name: \"+msg.payload.printer_name+msg.prompt\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":600,"wires":[["5e6bc0a646d19d1a"]]},{"id":"c8db87b2c1ae8f8a","type":"group","z":"3a651999c0cd479f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["dc7594fb2bb261b2","1db46149481286df","916c6f2a941debe1"],"x":434,"y":499,"w":332,"h":202},{"id":"dc7594fb2bb261b2","type":"function","z":"3a651999c0cd479f","g":"c8db87b2c1ae8f8a","name":"Extract Rating and Finish Message","func":"//Extract the last number from the response as the State\nconst matches = msg.payload.match(/\\d+(?=[^\\d]*$)/); // Look for digits followed by any non-digits till the end\nif (matches) {\n  msg.rating = matches[0];\n} else {\n  msg.rating = \"-1\";\n}\n\n//Append printer name to message\nmsg.message = \"Printer - \" + msg.entity_id + \"\\n\" + msg.payload;\nmsg.full_entity_id = \"sensor.\"+msg.entity_id+\"_print_quality\"\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["1db46149481286df","916c6f2a941debe1","4d212257d215b256"]]},{"id":"1db46149481286df","type":"debug","z":"3a651999c0cd479f","g":"c8db87b2c1ae8f8a","name":"Check Content","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"message","targetType":"msg","statusVal":"message","statusType":"auto","x":540,"y":600,"wires":[]},{"id":"916c6f2a941debe1","type":"debug","z":"3a651999c0cd479f","g":"c8db87b2c1ae8f8a","name":"Check Rating","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"rating","targetType":"msg","statusVal":"rating","statusType":"auto","x":540,"y":660,"wires":[]},{"id":"01592e1314249eee","type":"group","z":"3a651999c0cd479f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8862f84d99ac32d6","4d212257d215b256"],"x":854,"y":499,"w":252,"h":142},{"id":"8862f84d99ac32d6","type":"ha-api","z":"3a651999c0cd479f","g":"01592e1314249eee","name":"Update Sensor (API)","server":"541ade28.b4a62","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/{{full_entity_id}}","data":"","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":980,"y":540,"wires":[[]]},{"id":"4d212257d215b256","type":"function","z":"3a651999c0cd479f","g":"01592e1314249eee","name":"make final payload","func":"var now = new Date();\nmsg.payload = {\n    data: {\n        state: msg.rating,\n        attributes: {\n            'name': msg.full_entity_id,\n            'entries': [\n                {\n                    'description': msg.message,\n                    'last_updated': now.toISOString() // This will set the current date and time in ISO format\n                }\n            ],\n            friendly_name: msg.friendly_name + ' Print Quality',\n            icon: 'mdi:robot'\n        }\n    }\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":600,"wires":[["8862f84d99ac32d6"]]},{"id":"541ade28.b4a62","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"ab83d50e6fb83718","type":"group","z":"3a651999c0cd479f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b3e40a72d2daacec","99223ce8f4fdd9a1"],"x":434,"y":819,"w":252,"h":142},{"id":"b3e40a72d2daacec","type":"debug","z":"3a651999c0cd479f","g":"ab83d50e6fb83718","name":"Notify Description","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[0].attributes.entries[0].description","targetType":"msg","statusVal":"payload[0].attributes.entries[0].description","statusType":"auto","x":550,"y":920,"wires":[]},{"id":"99223ce8f4fdd9a1","type":"ha-get-entities","z":"3a651999c0cd479f","g":"ab83d50e6fb83718","name":"","server":"8b49822a.271c3","version":1,"rules":[{"property":"entity_id","logic":"is","value":"payload.entity_id","valueType":"msg"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":530,"y":860,"wires":[["b3e40a72d2daacec","e6e6ef0a1007dfe6"]]},{"id":"033e70df29d05b1f","type":"group","z":"3a651999c0cd479f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ed4b3c4af1f608c4","e6e6ef0a1007dfe6","23d97a4ab5cb08be"],"x":774,"y":819,"w":232,"h":162},{"id":"ed4b3c4af1f608c4","type":"api-call-service","z":"3a651999c0cd479f","g":"033e70df29d05b1f","name":"","server":"8b49822a.271c3","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{message}}\",\"title\":\"Printer Status\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":940,"wires":[[]]},{"id":"e6e6ef0a1007dfe6","type":"change","z":"3a651999c0cd479f","g":"033e70df29d05b1f","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"payload[0].attributes.entries[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":860,"wires":[["23d97a4ab5cb08be"]]},{"id":"23d97a4ab5cb08be","type":"function","z":"3a651999c0cd479f","g":"033e70df29d05b1f","name":"Remove Newlines","func":"msg.message = msg.message.replace(/\\n/g, \"\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":900,"wires":[["ed4b3c4af1f608c4"]]},{"id":"8b49822a.271c3","type":"server","name":"Home Assistant","addon":true}]