flows.json
[{"id":"acb2bb816d7b454b","type":"tab","label":"3D Printer Monitor","disabled":false,"info":"","env":[]},{"id":"b993782dd5c98b50","type":"group","z":"acb2bb816d7b454b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["345749451552e1d7","af0dd2d5fb59fa5d"],"x":74,"y":99,"w":272,"h":122},{"id":"d13a92a09bd269d9","type":"group","z":"acb2bb816d7b454b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["530c062dc2a3bc4d","cfdf105ac9183544","fbef2620dcf82a66","9f7e9bed2829de83"],"x":434,"y":99,"w":272,"h":262},{"id":"167ffce7b3000f2b","type":"group","z":"acb2bb816d7b454b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["77024bd53cc562a0","230680f79d9a1a3d","54eeb207b5a80f90","d3d9804ed70400d9","56e704259aa3c3fb","5b7dbf3c71a6639c"],"x":854,"y":99,"w":452,"h":322},{"id":"071ed55dc89f1240","type":"group","z":"acb2bb816d7b454b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f46004135d791296","7f940f450d9f5f0e","12f3c0f759a60055","0c1a19bacd29a630"],"x":74,"y":499,"w":272,"h":262},{"id":"f024aeba0f1aa785","type":"group","z":"acb2bb816d7b454b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b026c0e7f04b1569","1b56f7d2c4b52fd5","b25ef987f2d6fea1"],"x":434,"y":499,"w":332,"h":202},{"id":"542778b43adbc0eb","type":"group","z":"acb2bb816d7b454b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["38a6af16aa8d8ace","b231971c733e7c72"],"x":854,"y":499,"w":252,"h":142},{"id":"15937ebd654a840d","type":"group","z":"acb2bb816d7b454b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5a0470839e7f6416","d107576dbb6fc187"],"x":434,"y":819,"w":252,"h":142},{"id":"fd4dc4a6331a27a0","type":"group","z":"acb2bb816d7b454b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9fb42c4d91b50fe1","001011f7ee277586","0e6812922afafcc8"],"x":774,"y":819,"w":232,"h":162},{"id":"f46004135d791296","type":"simple-gpt-vision","z":"acb2bb816d7b454b","g":"071ed55dc89f1240","name":"","prompt":"prompt","promptType":"msg","Token":"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","x":190,"y":660,"wires":[["b026c0e7f04b1569","7f940f450d9f5f0e"]]},{"id":"7f940f450d9f5f0e","type":"debug","z":"acb2bb816d7b454b","g":"071ed55dc89f1240","name":"Check GPT Output","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":190,"y":720,"wires":[]},{"id":"77024bd53cc562a0","type":"buffer-to-png","z":"acb2bb816d7b454b","g":"167ffce7b3000f2b","name":"Buffer to png","x":950,"y":320,"wires":[["230680f79d9a1a3d"]]},{"id":"230680f79d9a1a3d","type":"jimp-image","z":"acb2bb816d7b454b","g":"167ffce7b3000f2b","name":"Load image","data":"payload.png","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"","parameter2":"","parameter2Type":"","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":950,"y":380,"wires":[["12f3c0f759a60055"]]},{"id":"12f3c0f759a60055","type":"function","z":"acb2bb816d7b454b","g":"071ed55dc89f1240","name":"Remove Base64 header","func":"msg.payload = msg.payload.replace(\"data:image/jpeg;base64,\", \"\");\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":540,"wires":[["0c1a19bacd29a630"]]},{"id":"345749451552e1d7","type":"inject","z":"acb2bb816d7b454b","g":"b993782dd5c98b50","name":"Trigger Jake","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"jake_p1s\"]","payloadType":"jsonata","x":135,"y":180,"wires":[["2df603c26d729b1b"]],"l":false},{"id":"54eeb207b5a80f90","type":"image viewer","z":"acb2bb816d7b454b","g":"167ffce7b3000f2b","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":1210,"y":260,"wires":[["77024bd53cc562a0"]]},{"id":"d3d9804ed70400d9","type":"jimp-image","z":"acb2bb816d7b454b","g":"167ffce7b3000f2b","name":"Load image","data":"payload","dataType":"msg","ret":"buf","parameter1":"","parameter1Type":"","parameter2":"","parameter2Type":"","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"buffer","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":950,"y":260,"wires":[["54eeb207b5a80f90"]]},{"id":"530c062dc2a3bc4d","type":"ha-get-entities","z":"acb2bb816d7b454b","g":"d13a92a09bd269d9","name":"Get Entity","server":"8b49822a.271c3","version":1,"rules":[{"property":"entity_id","logic":"includes","value":"camera","valueType":"msg"},{"property":"state","logic":"is_not","value":"open","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":520,"y":260,"wires":[["fbef2620dcf82a66"]]},{"id":"56e704259aa3c3fb","type":"function","z":"acb2bb816d7b454b","g":"167ffce7b3000f2b","name":"Form image URL","func":"msg.payload = \"http://homeassistant:8123\"+msg.payload.attributes.entity_picture;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":140,"wires":[["d3d9804ed70400d9","5b7dbf3c71a6639c"]]},{"id":"5b7dbf3c71a6639c","type":"debug","z":"acb2bb816d7b454b","g":"167ffce7b3000f2b","name":"Check Image URL","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"9fb42c4d91b50fe1","type":"api-call-service","z":"acb2bb816d7b454b","g":"fd4dc4a6331a27a0","name":"","server":"8b49822a.271c3","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{message}}\",\"title\":\"Printer Status\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":940,"wires":[[]]},{"id":"b026c0e7f04b1569","type":"function","z":"acb2bb816d7b454b","g":"f024aeba0f1aa785","name":"Extract Rating and Finish Message","func":"//Extract the last number from the response as the State\nconst matches = msg.payload.match(/\\d+(?=[^\\d]*$)/); // Look for digits followed by any non-digits till the end\nif (matches) {\n  msg.rating = matches[0];\n} else {\n  msg.rating = \"-1\";\n}\n\n//Append printer name to message\nmsg.message = \"Printer - \" + msg.entity_id + \"\\n\" + msg.payload;\nmsg.full_entity_id = \"sensor.\"+msg.entity_id+\"_print_quality\"\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["1b56f7d2c4b52fd5","b25ef987f2d6fea1","b231971c733e7c72"]]},{"id":"0afd5c2ee0ccc949","type":"server-events","z":"acb2bb816d7b454b","name":"All Mobile App Notification Actions","server":"8b49822a.271c3","version":3,"exposeAsEntityConfig":"","eventType":"mobile_app_notification_action","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(“eventData”).event_type","valueType":"jsonata"}],"x":240,"y":1140,"wires":[["c2e8555b297312a3","09632d38a39fa128"]]},{"id":"c2e8555b297312a3","type":"switch","z":"acb2bb816d7b454b","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"PAUSE_PRINTER","vt":"str"},{"t":"eq","v":"IGNORE_ERROR","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1140,"wires":[["56e48f551d676133"],[]]},{"id":"56e48f551d676133","type":"api-call-service","z":"acb2bb816d7b454b","name":"","server":"8b49822a.271c3","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":["basement"],"deviceId":["70d6082757946488763f384a47dde2cd"],"entityId":["button.jake_p1s_pause_printing"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":1080,"wires":[["9ec67b5f44bef216"]]},{"id":"9ec67b5f44bef216","type":"api-call-service","z":"acb2bb816d7b454b","name":"","server":"8b49822a.271c3","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{    \"message\": \"Printer has been paused.\",    \"title\": \"Printer Status\",}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":1220,"wires":[[]]},{"id":"09632d38a39fa128","type":"debug","z":"acb2bb816d7b454b","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1200,"wires":[]},{"id":"0c1a19bacd29a630","type":"function","z":"acb2bb816d7b454b","g":"071ed55dc89f1240","name":"Prompt","func":"msg.prompt = `Respond in English.\nYou are monitoring the quality of a 3D print job that is in progress by assessing the still image.\nIn about a sentence, please describe the status of the 3D print job so far (Is the bed clear (look carefully, the material could be Black)? Is there any stringing? Any warping or curling? Are layers even? Is there any debris on the bed? Does anything else stand out that could affect the print output?).\nAt the end of your response, include a single digit number rating based on your previous description from 1 to 10.\n1 indicating complete failure and possible hardware damage, 10 indicating no print issues and exceptional print quality. If there are any issues that need attention, use 5 or lower as that triggers a notification to my phone). If the print bed looks empty, then rating should be 10 because there are no issues.`\nmsg.prompt = \"Printer name: \"+msg.payload.printer_name+msg.prompt\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":600,"wires":[["f46004135d791296"]]},{"id":"db95685eeb66c465","type":"server-state-changed","z":"acb2bb816d7b454b","name":"Trigger Printer Monitor Notification","server":"8b49822a.271c3","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":["sensor.finn_p1s_print_quality","sensor.b_mo_p1s_print_quality","sensor.bonnie_p1s_print_quality","sensor.jake_p1s_print_quality"],"entityIdType":"list","outputInitially":true,"stateType":"num","ifState":"5","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":240,"y":860,"wires":[["d107576dbb6fc187"],[]]},{"id":"5a0470839e7f6416","type":"debug","z":"acb2bb816d7b454b","g":"15937ebd654a840d","name":"Notify Description","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[0].attributes.entries[0].description","targetType":"msg","statusVal":"payload[0].attributes.entries[0].description","statusType":"auto","x":550,"y":920,"wires":[]},{"id":"1b56f7d2c4b52fd5","type":"debug","z":"acb2bb816d7b454b","g":"f024aeba0f1aa785","name":"Check Content","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"message","targetType":"msg","statusVal":"message","statusType":"auto","x":540,"y":600,"wires":[]},{"id":"b25ef987f2d6fea1","type":"debug","z":"acb2bb816d7b454b","g":"f024aeba0f1aa785","name":"Check Rating","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"rating","targetType":"msg","statusVal":"rating","statusType":"auto","x":540,"y":660,"wires":[]},{"id":"d107576dbb6fc187","type":"ha-get-entities","z":"acb2bb816d7b454b","g":"15937ebd654a840d","name":"","server":"8b49822a.271c3","version":1,"rules":[{"property":"entity_id","logic":"is","value":"payload.entity_id","valueType":"msg"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":530,"y":860,"wires":[["5a0470839e7f6416","001011f7ee277586"]]},{"id":"001011f7ee277586","type":"change","z":"acb2bb816d7b454b","g":"fd4dc4a6331a27a0","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"payload[0].attributes.entries[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":860,"wires":[["0e6812922afafcc8"]]},{"id":"0e6812922afafcc8","type":"function","z":"acb2bb816d7b454b","g":"fd4dc4a6331a27a0","name":"Remove Newlines","func":"msg.message = msg.message.replace(/\\n/g, \"\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":900,"wires":[["9fb42c4d91b50fe1"]]},{"id":"af0dd2d5fb59fa5d","type":"inject","z":"acb2bb816d7b454b","g":"b993782dd5c98b50","name":"Printer Cameras List","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[\t    \"finn_p1s\",\t    \"jake_p1s\",\t    \"b_mo_p1s\",\t    \"bonnie_p1s\"\t]","payloadType":"jsonata","x":220,"y":140,"wires":[["2df603c26d729b1b"]]},{"id":"38a6af16aa8d8ace","type":"ha-api","z":"acb2bb816d7b454b","g":"542778b43adbc0eb","name":"Update Sensor (API)","server":"541ade28.b4a62","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"/api/states/{{full_entity_id}}","data":"","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":980,"y":540,"wires":[[]]},{"id":"b231971c733e7c72","type":"function","z":"acb2bb816d7b454b","g":"542778b43adbc0eb","name":"make final payload","func":"var now = new Date();\nmsg.payload = {\n    data: {\n        state: msg.rating,\n        attributes: {\n            'name': msg.full_entity_id,\n            'entries': [\n                {\n                    'description': msg.message,\n                    'last_updated': now.toISOString() // This will set the current date and time in ISO format\n                }\n            ],\n            friendly_name: msg.friendly_name + ' Print Quality',\n            icon: 'mdi:robot'\n        }\n    }\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":600,"wires":[["38a6af16aa8d8ace"]]},{"id":"cfdf105ac9183544","type":"debug","z":"acb2bb816d7b454b","g":"d13a92a09bd269d9","name":"Announce Printer(s)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.attributes.friendly_name","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":200,"wires":[]},{"id":"2df603c26d729b1b","type":"function","z":"acb2bb816d7b454b","name":"Iterate and Make Entity Names","func":"for (var i = 0; i < msg.payload.length; i++) {\n var newMsg = {};\n newMsg.camera = \"image.\"+msg.payload[i]+\"_camera\";\n newMsg.stage = \"sensor.\" + msg.payload[i] + \"_current_stage\";\n newMsg.entity_id = msg.payload[i];\n node.send(newMsg);\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":260,"wires":[["9f7e9bed2829de83"]]},{"id":"fbef2620dcf82a66","type":"change","z":"acb2bb816d7b454b","g":"d13a92a09bd269d9","name":"","rules":[{"t":"set","p":"friendly_name","pt":"msg","to":"payload.attributes.friendly_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["56e704259aa3c3fb"]]},{"id":"9f7e9bed2829de83","type":"ha-get-entities","z":"acb2bb816d7b454b","g":"d13a92a09bd269d9","name":"Get Only Printing Printers","server":"8b49822a.271c3","version":1,"rules":[{"property":"entity_id","logic":"includes","value":"stage","valueType":"msg"},{"property":"state","logic":"is","value":"printing","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":570,"y":140,"wires":[["cfdf105ac9183544","530c062dc2a3bc4d"]]},{"id":"6fb252c2b9605fd3","type":"api-call-service","z":"acb2bb816d7b454b","name":"","server":"8b49822a.271c3","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{message}}\",\"title\":\"Printer Status\",\"data\":{\"actions\":[{\"action\":\"PAUSE_PRINTER\",\"title\":\"Pause\"},{\"action\":\"IGNORE_ERROR\",\"title\":\"Ignore\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":920,"wires":[[]]},{"id":"802a2fec5d380650","type":"inject","z":"acb2bb816d7b454b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["6e89607e99be10f2"]]},{"id":"6e89607e99be10f2","type":"debug","z":"acb2bb816d7b454b","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":220,"y":420,"wires":[]},{"id":"ed454b1951acc846","type":"comment","z":"acb2bb816d7b454b","name":"Not Yet working. Needs to Action on specific printer.","info":"","x":210,"y":920,"wires":[]},{"id":"35300302b51face0","type":"comment","z":"acb2bb816d7b454b","name":"Not Yet working. Needs to Action on specific printer.","info":"","x":210,"y":1200,"wires":[]},{"id":"8b49822a.271c3","type":"server","name":"Home Assistant","addon":true},{"id":"541ade28.b4a62","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""}]